@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1785257905949') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sheji-xianxing:before {
  content: "\e7eb";
}

.icon-xbr_gangbi-dianziqianming:before {
  content: "\e634";
}

.icon-xueshimao:before {
  content: "\e691";
}

.icon-gangbi:before {
  content: "\e85f";
}

